body{
    background-color:lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.map{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.menu, map area{
    outline: none;
}
img.map, map area{
    outline: none;
}

#h2{
    text-align: center;
    color: rgb(0, 255, 42);
}
#red-color{
    text-align: center;
    color: rgb(0, 255, 42);
}
.image{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pages{
    color: white;
    background-color:lightyellow;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}